---
import Layout from '../layouts/Layout.astro';
import Text from '../components/Text.astro';
---

<Layout title="404 - Not Found">
  <div class="flex items-center justify-center h-screen bg-tech-bg">
    <Text variant="h1">There is nothing here</Text>
  </div>
</Layout>
